
                   <Config>
                       <theme n="" theme="Dark">Tema</theme>
                       <ver n="" ver="1.6">Ver</ver>
                       <y n="" y="2022">Anno</y>
                       <p n="" p="DeepPurple">Palette</p>
                   </Config>
                           